@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
	background-color: black;
	color: white;
	font-family: "VT323";
}
img{
	filter: blur(5px);
	background: rgba(10, 10, 10, 1);
}
img:hover{
	filter: blur(0px);
}
a{
	color: white;
}
